/* ========================================================================== Base ========================================================================== */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }


/* ========================================================================== Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background: transparent; }

/** Address `outline` inconsistency between Chrome and other browsers. */
a:focus { outline: thin dotted; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* ========================================================================== Typography ========================================================================== */
/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari 5, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9, Safari 5, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
b, strong { font-weight: bold; }


/** Improve readability of pre-formatted text in all browsers. */
pre { white-space: pre-wrap; }

/** Set consistent quote types. */
q { quotes: "\201C" "\201D" "\2018" "\2019"; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 70%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }
 
html, body { font-size: 100%; }

body { background: #fff; color: #222; padding: 0; margin: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal; line-height: 1; position: relative; cursor: auto; }

a:hover { cursor: pointer; }


textarea { height: auto; min-height: 50px; }

select { width: 100%; }


object, svg { display: inline-block; vertical-align: middle; }

.center { margin-left: auto; margin-right: auto; }

.stretch{width:100%}


/* Default Link Styles */
a { color: #00579e; text-decoration: none; line-height: inherit; }
a:hover, a:focus { color: #333; }
a img { border: none; }

/* Default paragraph styles */
p { font-family: inherit; font-weight: normal; font-size: 1em; line-height: 1.25; margin-bottom: 0.125em; text-rendering: optimizeLegibility; }
p aside { font-size: 0.875em; line-height: 1.35; font-style: italic; }

/* Default header styles */
h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: bold; font-style: normal; color: #222; text-rendering: optimizeLegibility; margin-top: 1em; margin-bottom: 0em; line-height: 1.2125em; }
h1 small, h2 small, h3 small, #toctitle small, .sidebarblock > .content > .title small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; }

h1 { font-size: 2.125em; }

h2 { font-size: 1.125em; color: #7a2518; margin-top: 1em; margin-bottom: -0.25em; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 1.25em 0 1.1875em; height: 0; }


/* Helpful Typography Defaults */
em, i { font-style: italic; line-height: inherit; }

strong, b { font-weight: bold; line-height: inherit; }

small { font-size: 60%; line-height: inherit; }

code { font-family: Consolas, "Liberation Mono", Courier, monospace; font-weight: bold; }

body { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; tab-size: 4; }

h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 { line-height: 1; }

em em { font-style: normal; }

strong strong { font-weight: normal; }


#header, #content, #footnotes, #footer { width: 100%; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; max-width: 62.5em; *zoom: 1; position: relative; padding-left: 0.9375em; padding-right: 0.9375em; }
#header::before, #header::after, #content::before, #content::after, #footnotes::before, #footnotes::after, #footer::before, #footer::after { content: " "; display: table; }
#header::after, #content::after, #footnotes::after, #footer::after { clear: both; }

#content { margin-top: 1.25em; }

#content::before { content: none; }


#header > h1:first-child { color: #000; margin-top: 1.25rem; margin-bottom: 0em; }
#header > h1:first-child + #toc { margin-top: 8px; border-top: 1px solid #000; }
#header > h1:only-child, body.toc2 #header > h1:nth-last-child(2) { border-bottom: 1px solid #000; padding-bottom: 8px; }
#header .details { border-bottom: 1px solid #000; line-height: 1.45; padding-top: 0.25em; padding-bottom: 0.5em; padding-left: 0.25em; color: #0366d6; display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-flow: row wrap; -webkit-flex-flow: row wrap; flex-flow: row wrap; font-family: "Noto Serif", "DejaVu Serif", serif; font-weight: normal; font-style: italic; }
#header .details span:first-child { margin-left: -0.125em; }
#header .details span.email a { color: #6f6f6f; }
#header .details br { display: none; }
#header .details br + span::before { content: "\00a0\2013\00a0"; }
#header .details br + span.author::before { content: "\00a0\22c5\00a0"; color: #6f6f6f; }
#header .details br + span#revremark::before { content: "\00a0|\00a0"; }
#header #revnumber { text-transform: capitalize; }
#header #revnumber::after { content: "\00a0"; }

#content > h1:first-child:not([class]) { color: #000; border-bottom: 1px solid #000; padding-bottom: 8px; margin-top: 0; padding-top: 1rem; margin-bottom: 1.25rem; }


#footer { max-width: 100%; background-color: #222; padding: 1.25em; }

#footer-text { color: #dddddd; line-height: 1.44; }

#content{margin-bottom:.625em}


/* prevent column-breaks in sub-sections */

.sect1 {
    page-break-inside: avoid;
    break-inside: avoid-column;
/*    display:table; */
}

@media screen and (min-width:640px){
    #body { padding-left:25em;
 	    padding-right:0;
    }
    #content {
	column-count: 2;
	column-gap: 48px;
    }
}

@media screen and (min-width:896px){
    #body { padding-left:20em;
 	    padding-right:0;
    }
    #content {
	column-count: 3;
	column-gap: 48px;
    }
}


/* Kel - a non-breaking span */
.nobr { white-space: nowrap; }

/* Kel - a span for bold and color brickred */
.bold-brickred { color: #7a2518; font-weight: bold; }


.brickred { color: #7a2518; }
.githubblue { color: #0366d6; }

.big { font-size: larger; line-height: 0; }
.bigger { font-size: 150%; line-height: 0; }

.small { font-size: smaller; }

.underline { -webkit-text-decoration: underline;
	 text-decoration:  underline;
	 -webkit-text-decoration-skip: ink;
	 text-decoration-skip: ink;
	 -webkit-text-underline-position: under;
	 text-underline-position: under;
       }

.overline { text-decoration: overline; }

.line-through { text-decoration: line-through; }

.aqua { color: #00bfbf; }

.aqua-background { background-color: #00fafa; }

.black { color: black; }

.black-background { background-color: black; }

.blue { color: #0000bf; }

.mildblue { color: #005793; }

.blue-background { background-color: #0000fa; }

.fuchsia { color: #bf00bf; }

.fuchsia-background { background-color: #fa00fa; }

.gray { color: #606060; }

.gray-background { background-color: #7d7d7d; }

.green { color: #008000; }

.green-background { background-color: #007d00; }

.lime { color: #00bf00; }

.lime-background { background-color: #00fa00; }

.maroon { color: #600000; }

.maroon-background { background-color: #7d0000; }

.navy { color: #000060; }

.navy-background { background-color: #00007d; }

.olive { color: #606000; }

.olive-background { background-color: #7d7d00; }

.orange { color: #e57a00; }

.purple { color: #600060; }

.purple-background { background-color: #7d007d; }

.red { color: #bf0000; }

.red-background { background-color: #fa0000; }

.silver { color: #909090; }

.silver-background { background-color: #bcbcbc; }

.teal { color: #006060; }

.teal-background { background-color: #007d7d; }

.white { color: #bfbfbf; }

.white-background { background-color: #fafafa; }

.yellow { color: #bfbf00; }

.yellow-background { background-color: #fafa00; }

.lime-bg { background-color: #5fff5f; }


.higher { bottom: 0.0625em; line-height: 0; position: relative; vertical-align: baseline; }
.vhigher { bottom: 0.5ex; line-height: 0; position: relative; vertical-align: baseline; }
.vvhigher { bottom: 0.667ex; line-height: 0; position: relative; vertical-align: baseline; }
.vlower { bottom: -0.125em; line-height: 0; position: relative; vertical-align: baseline; }
.vvlower { bottom: -0.33em; line-height: 0; position: relative; vertical-align: baseline; }
.vraise {vertical-align: 8%; }
.vvraise {vertical-align: 12.5%; }
.ssmall { font-size: 75%; }

.backspace  { margin-left: -0.5em; }
.backspacex { margin-left: -2em; }
.backspacey { margin-left: -0.85em; }

.indent  { margin-right: 0.4em; }
.indentx { margin-right: 1.55em; }
.indenty { margin-right: 0.6em; }

